@font-face {
  font-family: Kalameh;
  src: url("../app/assets/Kalameh-Regular.fe9383d.ttf");
}

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --breakpoint-xs: 18rem;
}
@layer scroll-webkit {
  ::-webkit-scrollbar {
    display: none;
  }
}
